<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1 th:text="${username}">list</h1>
    <h2>h2默认标签+<span th:text="${username}"></span></h2>
    <h3>h3默认标签+[[${username}]]</h3>
    <div th:replace="common/demo"></div>
    <p th:text="${user.username}"></p>
    <p th:text="${user.age}"></p>
    <p th:if="${user.age==13}">显示名字[[${user.username}]]</p>
    <hr>
    <table>
        <tr>
            <td>索引</td>
            <td>行数</td>
            <td>总长</td>
            <td>姓名</td>
            <td>年龄</td>
        </tr>
        <tr th:each="u,stat:${userlist}" >
            <td>[[${stat.index}]]</td>
            <td>[[${stat.count}]]</td>
            <td>[[${stat.size}]]</td>
            <td th:text="${u.username}"></td>
            <td th:if="${u.age>12}">[[${u.age}]]</td>
        </tr>
    </table>
</body>
</html>